@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 29.17vw;
    min-height: 33.71vh;
}

.orange {
    background-color: #E5A52F;
    width: 100%;
    height: 4vh;
    border-radius: 0.9vw 0.9vw 0 0;
    border: 1px solid #C4C4C4;
    border-bottom: none;
}

.main {
    width: 100%;
    min-height: 29.71vh;
    border-radius: 0 0 0.9vw 0.9vw;
    border: 1px solid #C4C4C4;
    border-top: none;
}

.main h1 {
    width: 17.19vw;
    font-size: 2.26vw;
    justify-self: center;
    text-align: center;
    padding-top: 1.13vw;
    font-weight: 900;
}

.sort {
    width: 2.17vw;
    height: 2.14vh;
    margin-top: 1.82vw;
    display: block;
    margin-left: auto;
    margin-right: 2.6vw;
}

.search input {
    width: 24.83vw;
    height: 5.71vh;
    font-size: 1.15vw;
    padding-left: 1.25vw;
    border: 1px solid #C4C4C4;
    border-radius: 0.9vw;
    margin-left: 2.43vw;
    margin-top: -1.43vh;
}

.search img {
    width: 1.72vw;
    height: 2.88vh;
    margin-left: -5vw;
    margin-bottom: -0.5vw;
}

.add {
    width: 13.02vw;
    height: 6vh;
    display: flex;
    justify-self: center;
    position: relative;
    margin-top: 2.65vh;
    margin-bottom: 2.7vh;
}

#plusButton {
    width: 3.65vw;
    height: 100%;
    border: none;
    font-size: 1.22vw;
    border-radius: 50%;
    background-color: #9953F1;
    color: white;
    position: absolute;
    left: 0;
    z-index: 2;
}

#addButton {
    width: 11.2vw;
    height: 100%;
    border: none;
    font-size: 1.22vw;
    border-radius: 0 3vw 3vw 0;
    background-color: #833AE0;
    color: white;
    position: absolute;
    right: 0;
    z-index: 1;
}

@media screen and (min-width: 630px) and (max-width: 930px) {
    .main h1 {
        font-size: 2.7vw;
    }
    .sort {
        width: 2.9vw;
    }
    .search input {
        height: 5.4vh;
    }
    .search img {
        width: 2vw;
        margin-bottom: -0.8vw;
    }
}

@media screen and (min-width: 350px) and (max-width: 630px) {
    .main h1 {
        font-size: 3.2vw;
    }
    .sort {
        width: 3.4vw;
    }
    .search input {
        height: 5vh;
    }
    .search img {
        width: 2.4vw;
        margin-bottom: -1.25vw;
    }
}